[submodule "libs/VPKTools"]
	path = libs/VPKTools
	url = https://github.com/craftablescience/VPKTool.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/VTFLib"]
	path = libs/VTFLib
	url = https://github.com/Trico-Everfire/VTFLib.git
	branch = feat/ATI-Difference-Support
[submodule "libs/SpeedyKV"]
	path = libs/SpeedyKV
	url = https://github.com/ozxybox/SpeedyKeyV.git
